.App {
  text-align: center;
}
nav{
  width: 100%;
  border-bottom: 3px solid #000;
}
nav ul{
  width: auto;
  margin: auto;
  display: inline-block;
  padding: 0px;
}
nav ul li{
  display: inline-block;
  margin: auto;
}

nav ul li a{
  display: block;
  padding: 15px 35px;
  text-decoration: none;
  color: #000;
  font-size: 14px;
  font-weight: bold;
}
nav ul li a:hover{
  color: #fff;
  background: #000;
}
#page_body{
  max-width: 800px;
  display: block;
  margin: auto;
  text-align: left;
  width: 100%;
}
#page_body h1{
  text-align: center;
}
#page_body p{
  font-size: 15px;
  padding-bottom: 20px;
  line-height: 24px;
}
.article-snippet{
  border-bottom: 3px solid #000;
  margin-bottom: 30px;
}
#page_body .article-snippet p{
  padding-bottom: 0px;
}
.article-snippet a, .button{
  display: inline-block;
  margin: 0px 0px 20px 0px;
  padding: 5px 30px;
  background: #000;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  border: 3px solid #000;
  border-radius: 8px;
  cursor: pointer;
}
.button.upvotebtn{
  font-size: 13px;
  padding: 8px 10px;
  text-transform: none;
  margin-right: 5px;
  margin-bottom: 0px;
  border: 2px solid #000;
}
.article-snippet a:hover, .button:hover{
  background:#fff;
  color:#000;
}
.article-snippet h3{
  font-size: 24px;
}

#page_body .comment{
  border-bottom: 2px solid #000;
  margin-bottom: 20px;
}
#page_body .comment p{
  padding: 0px;
  margin: 0px auto 10px auto;
}
#page_body .comment h4{
  margin-bottom: 10px;
}
#add-comment-form{
  width: 250px;
  border-bottom: 2px solid #000;
  margin-bottom: 20px;
}
#add-comment-form label{
  display: block;
  margin-bottom: 15px;
}
input, textarea{
  display: block;
  padding: 5px;
  border: 1px solid #000;
  border-radius: 8px;
  margin: 5px;
}
#add-comment-form label input, #add-comment-form label textarea{
    width: 230px;
}
#add-comment-form .button{
  width: 100%;
  text-transform: none;
  font-size: 13px;
}
.error{
  background: #ffcdcd;
  color: #c10000;
  font-weight: bold;
  padding: 10px;
  margin: auto;
}
.login-form{
  width: 350px;
  margin: 10px auto;
  background: #f6f6f6;
  padding: 50px 30px;
  text-align: center;
  border-radius: 15px;
}
.login-form input{
  font-size: 16px;
  width: 300px;
  display: block;
  margin: 15px auto;
}
.login-form .button{
  display: block;
  margin: 20px auto;
}
.login-form a{
  color: #2c2c2c;
  text-decoration: none;
}
.login-form a:hover{
  color: #000;
  text-decoration: underline;
}